@model  CURSO_MVC.Models.ViewModel.EditUsuarioViewModel
@{
    ViewBag.Title = "Editar Usuario";
}
<h2>@ViewBag.Title</h2> @*ESTA ES UNA FORMA PARA NO REPETIR LO MISMO QUE TIENE EN EL TITULO*@
<div class="row" style="align-content:center">
    @* PROCEDEMOS A TRABAJAR EN EL FORMULARIO *@
    <div class="col-md-12" style="align-content:center">
        @*FORMA DE ABRIR LO QUE VIENE SIENDO NUESTRO FORMULARO.*@
        @using (Html.BeginForm("Editar", "Usuario", FormMethod.Post, new { role = "form", @class = "" })) //FORMATO PARA ABRIR FORMULARIO
        {
            // EL ATRIBUTO DE ABAJO SE PONE PARA SEGURIDAD QUE IMPIDE QUE HAGAN PETICIONES POR FUERA (CONSULTAS)
            @Html.AntiForgeryToken() // SEGURIDAD
            // EL SIGUIENTE ATRIBUTO ES CUANDO HAY UN PROBLEMA SE MOSTRARA
            @Html.ValidationMessage("Error", new { @class = "text-danger" })

            // Ahora solo procedo a agregar los controles de nuestro formulario
            @Html.LabelFor(d => d.Email) // ESTA ES LA FORMA DE PONER UN LABEL.....
            @Html.TextBoxFor(d => d.Email, new { @class = "form-control" }) // ESTA SERIA LA FORMA DEW CAPTURAR LOS DATOS
            @Html.ValidationMessage("Email", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Password)
            @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
            @Html.ValidationMessage("Password", new { @class = "text-danger" })

            @Html.LabelFor(d => d.ConfirPassword)
            @Html.PasswordFor(d => d.ConfirPassword, new { @class = "form-control" })
            @Html.ValidationMessage("ConfirPassword", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Edad)
            @Html.TextBoxFor(d => d.Edad, new { @class = "form-control" })
            @Html.ValidationMessage("Edad", new { @class = "text-danger" }) /* LINEA DE VALIDACION */

            <div style="text-align:center">
                <input type="submit" class="btn btn-success" value="Guardar" />  <!-- BOTON  -->
            </div>
        }
    </div>
</div>  